<h1>New question</h1>

<form action="/question/add" method="POST">
    <textarea id="questionText" name="questionText" type="textarea" placeholder="Question Text"></textarea>
    <textarea id="questionAnswer" name="questionAnswer" type="textarea" placeholder="Question Answer"></textarea>
    <textarea id="questionNote" name="questionNote" type="textarea" placeholder="Question Note"></textarea>
    <select id="questionType" name="questionType">
        {{#each questionTypes}}
        <option value="{{this.id}}">{{this.questionTypeName}}</option>
        {{/each}}
    </select>
    <input type="submit" value="Add" />
</form>