{{#if_equal question.questionTypeName "da/ne"}}
<label>Pitanje:</label>
<p>{{question.questionText}}</p>
<label>Odgovor:</label>
<p>{{question.questionAnswer}}</p>
<label>Biljeska:</label>
<p>{{question.questionNote}}</p>
<label>Napravljeno</label>
<p>{{question.createdAt}}</p>
<label>Izmjenjeno</label>
<p>{{question.updatedAt}}</p>
{{/if_equal}}

{{#if_equal question.questionTypeName "memory"}}
ovo je da ne
{{/if_equal}}

{{#if_equal question.questionTypeName "asocijacija"}}
ovo je da ne
{{/if_equal}}

{{#if_equal question.questionTypeName "nastaviRecenicu"}}
<label>Pitanje:</label>
<p>{{question.questionText}}</p>
<label>Odgovor:</label>
<p>{{question.questionAnswer}}</p>
<label>Ponudjeni odgovori:</label>
<p>{{question.questionNote}}</p>
<label>Napravljeno</label>
<p>{{question.createdAt}}</p>
<label>Izmjenjeno</label>
<p>{{question.updatedAt}}</p>
{{/if_equal}}