<h1>Edit question</h1>

<form action="/question/edit" method="POST">
    <input id="id" name="id" type="hidden" value="{{question.id}}">
    <textarea id="questionText" name="questionText" type="textarea"
        placeholder="Question Text">{{question.questionText}}</textarea>

    <textarea id="questionAnswer" name="questionAnswer" type="textarea"
        placeholder="Question Answer">{{question.questionAnswer}}</textarea>

    <textarea id="questionNote" name="questionNote" type="textarea"
        placeholder="Question Note">{{question.questionNote}}</textarea>

    <select id="questionType" name="questionType">
        {{#select question.questionTypeId}}
        {{#each questionTypes}}
        <option value="{{this.id}}">
            {{this.questionTypeName}}
        </option>
        {{/each}}
        {{/select}}
    </select>

    <input type="submit" value="Update" />
</form>