<div class="row" style="margin:20px;">
    <a href="/question/add" class="btn btn-primary">Add New Question</a>
</div>
<div class="row" style="margin:20px;">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                {{#each questionTypeQuestions}}
                <li class="nav-item">
                    <a class="nav-link" id="{{id}}-tab" data-toggle="pill" href="#{{id}}-existing" role="tab"
                        aria-controls="{{id}}" aria-selected="true">{{questionTypeName}}</a>
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="col-md-12">
            <div class="tab-content" id="pills-tabContent">
                {{#each questionTypeQuestions}}
                <div class="tab-pane fade" id="{{id}}-existing" role="tabpanel" aria-labelledby="{{id}}-tab">
                    {{#each questions}}
                    <div class="mb-2">
                        <label style="font-weight:bold">Pitanje:</label>
                        <p>
                            <a href="/question/detail/{{this.id}}">
                                {{this.questionText}}
                            </a>
                        </p>
                        <label style="font-weight:bold">Odgovor:</label>
                        <p>
                            {{this.questionAnswer}}
                        </p>
                        <label style="font-weight:bold">Pitanje napravljeno:</label>
                        <p>
                            {{this.createdAt}}
                        </p>
                        <label style="font-weight:bold">Pitanje izmjenjeno:</label>
                        <p>
                            {{this.updatedAt}}
                        </p>
                        <br>
                    </div>
                    {{/each}}
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>