<h4>Detalji za igru "{{game.gameName}}"</h4>
<br>
<h4>Pitanja koja su dodata u igru</h4>

<div class="row" style="margin:20px;">
    <div class="col-md-12">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            {{#each existingQuestions}}
            <li class="nav-item">
                <a class="nav-link" id="{{id}}-tab" data-toggle="pill" href="#{{id}}-existing" role="tab"
                    aria-controls="{{id}}" aria-selected="true">{{questionTypeName}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
    <div class="col-md-12">
        <div class="tab-content" id="pills-tabContent">
            {{#each existingQuestions}}
            <div class="tab-pane fade" id="{{id}}-existing" role="tabpanel" aria-labelledby="{{id}}-tab">

                {{#each questions}}
                <div class="mb-2">
                    {{this.questionText}}
                    {{this.questionAnswer}}
                    {{this.questionNote}}<br>
                    {{this.createdAt}}<br>
                    {{this.updatedAt}}
                    <br>
                    <a data-question-id="{{this.id}}" name="remove-question" class="btn btn-danger">Ukloni iz igre</a>
                </div>
                {{/each}}

            </div>
            {{/each}}
        </div>
    </div>
</div>

<h4>Pitanja koja postoje ali nisu dodana u igru</h4>

<div class="row" style="margin:20px;">
    <div class="col-md-12">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            {{#each nonExistingQuestions}}
            <li class="nav-item">
                <a class="nav-link" id="{{id}}-tab" data-toggle="pill" href="#{{id}}-nonExisting" role="tab"
                    aria-controls="{{id}}" aria-selected="true">{{questionTypeName}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
    <div class="col-md-12">
        <div class="tab-content" id="pills-tabContent">
            {{#each nonExistingQuestions}}
            <div class="tab-pane fade" id="{{id}}-nonExisting" role="tabpanel" aria-labelledby="{{id}}-tab">

                {{#each questions}}
                <div class="mb-2">
                    {{this.questionText}}
                    {{this.questionAnswer}}
                    {{this.questionNote}}<br>
                    {{this.createdAt}}<br>
                    {{this.updatedAt}}
                    <br>
                    <a data-question-id="{{this.id}}" name="add-question" class="btn btn-primary">Dodaj u igru</a>
                </div>
                {{/each}}

            </div>
            {{/each}}
        </div>
    </div>
</div>

<script>
    $("[name=add-question]").on("click", function () {
        let qId = $(this).attr("data-question-id");

        $.ajax({
            url: "/gameQuestion/addQuestionToGame",
            type: "POST",
            data: { gameId: '{{ game.id }}', questionId: `${qId}` },
            success: function (result) {
                if (result.toUpperCase() == "SUCCESS")
                    location.reload();
            },
            error: function (error) {
                console.log(error);
            }
        });
    });

    $("[name=remove-question]").on("click", function () {
        let qId = $(this).attr("data-question-id");

        $.ajax({
            url: "/gameQuestion/removeQuestionFromGame",
            type: "POST",
            data: { gameId: '{{ game.id }}', questionId: `${qId}` },
            success: function (result) {
                if (result.toUpperCase() == "SUCCESS")
                    location.reload();
            },
            error: function (error) {
                console.log(error);
            }
        });
    });
</script>