<h1>Edit game {{game.gameName}}</h1>

<form action="/game/edit" method="POST">
    <input id="id" name="id" type="hidden" value="{{game.id}}">
    <input id="gameName" name="gameName" type="text" value="{{game.gameName}}">
    <input type="submit" value="Update" />
</form>