<div id="container">
    <a href="/game/add">Add new game</a>
    <h1>Games</h1>
    <table>
        <thead>
            <tr>
                <th>Game</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each games}}
            <tr>
                <td>
                    <a href="/game/detail/{{this.id}}">{{this.gameName}}</a> <br>
                </td>
                <td>
                    {{this.createdAt}}
                </td>
                <td>
                    {{this.updatedAt}}
                </td>
                <td>
                    <a href="/game/detail/{{this.id}}">Details</a> |
                    <a href="/game/edit/{{this.id}}">Edit</a> |
                    <a href="/game/delete/{{this.id}}">Delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>